.input-group {
  font-family: "Inter";
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group__input {
  background: #2f2f2f;
  border-radius: 8px;
  border: none;
  height: 46px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  padding-left: 15px;
}

.input-group__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}

.input-group__help-text {
  visibility: hidden;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.input-group__error_visible {
  visibility: visible;
  color: #ee3465;
}