.input-group {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group__input {
  background: #2f2f2f;
  border-radius: 8px;
  border: none;
  height: 46px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  padding-left: 15px;
  margin: 10px 0 20px;
  margin: 10px 0 0;

}

.input-group__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}

.input-group__help-text {
  visibility: hidden;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.input-group__error-message {
  height: 20px;
  margin: 0;
}

.input-group__error_visible {
  visibility: visible;
  color: #ee3465;
}

.input-group__input:-webkit-autofill,
.input-group__input:-webkit-autofill:hover,
.input-group__input:-webkit-autofill:focus,
.input-group__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #2f2f2f inset !important;
  -webkit-text-fill-color: white;
}

.input-group__input:-webkit-autofill {
  border: none;
  -webkit-text-fill-color: white;
}