.profile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #ffffff;
}

.profile__form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 0 30px 0 30px;
  justify-content: space-between;
}

.profile__hello-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 70px;
  text-align: center;
}

.profile__user {
  margin: 80px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  min-width: 260px;
  max-width: 410px;
  width: 100%;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  flex: 1;
}

.profile__info {
  border-bottom: 1px solid #424242;
}

.profile__text_border {
  border-bottom: 1px solid #424242;
}

.profile__text {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 10px; */
  padding-top: 11px;
}

.profile__error-message {
  display: block;
  height: 12px;
  margin: 0;
  text-align: end;
}

.profile__input {
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  color: white;
  text-align: end;
  padding: 4px 0;
  width: 50%;

  display: flex;
  flex-direction: column;

}

.profile__input:focus {
  text-align: start;
  padding-left: 9px;
}

.profile__input::placeholder {
  color:#ffffff;
}

.profile__input:focus::placeholder {
  color: rgb(170, 170, 170);
}

.profile__button_edit {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding: 7px;
  border: 2px solid rgba(170, 170, 170, 1);
  border-radius: 50px;
}

.profile__button_edit:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: all 0.5s ease-in-out;
}

button:disabled {
  border: none;
}

button:disabled:hover {
  cursor: auto;
  transform: none;
}

.profile__logout {
  margin-top: 16px;
  margin-bottom: 40px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ee3465;
}

.profile__settings {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.profile__nav_desktop {
  display: none;
}

@media (min-width: 520px) {
  .profile__container {
    justify-content: space-around;
  }

  .profile__logout {
    margin-bottom: 0;
  }
}
