.promo {
  margin: 0;
  background-color: #073042;
}

.promo__title {
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 39px;
  padding: 207px 10px 246px 10px;
  text-align: center;
  letter-spacing: -0.04em;
}
