.app {
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #202020
}

.app__container {
  max-width: 1140px;
  margin: 0 auto;
}