.logo {
  display: flex;
  width: 38px;
  height: 38px;
  background-image: url("../../images/logo.svg");
  background-repeat: no-repeat;
}

.logo:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s all ease-in-out;
}