.header {
    position: relative;
    min-height: 74px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
  }

  .header_place_main {
    background-color: #073042;
  }

  .header__container {
    display: flex;
    min-height: 74px;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
  }