.login {
  height: 100vh;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__header {
  gap: 50px;
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 56px;
}

.login__text {
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  padding-bottom: 80px;
}

@media (min-width: 520px) {
  .login__header {
    width: 396px;
    height: auto;
    align-items: start;
    justify-content: start;
    margin-bottom: 40px;
    padding-top: 0;
  }

  .login__text {
    margin: 0;
    padding-bottom: 40px;
  }
}

