.login {
  height: 100vh;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.login__header {
  height: 253px;
  gap: 50px;
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__text {
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

@media (min-width: 520px) {
  .login {
    width: 396px;
    margin: 0 auto;
    margin-top: 232px;
  }

  .login__header {
    height: auto;
    align-items: start;
    justify-content: start;
    margin-bottom: 40px;
  }

  .login__text {
    margin: 0;
  }
}

@media (min-width: 980px) {
  .login {
    margin-top: 70px;
  }
}
